.acc-settings-card{
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    margin: 3%;
  }
  
.acc-settings-stack{
    align-items: center;
    justify-content: center;
    margin: 3%;
  }
  