.add-resources-card{
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    margin: 3%;
  }
  
.add-resources-stack{
    align-items: center;
    justify-content: center;
    margin: 3%;
  }