.card-button-default {
  display: block;
  width: 220px;
  height: 220px;
  text-align: center;
  color: "primary";
}

.card-button-clicked {
  display: block;
  width: 220px;
  height: 220px;
  text-align: center;
  align-items: center;
  background: linear-gradient(45deg, #5c2431 30%, #91394d 90%);
  color: white;
}