.crs-select-card {
    width: auto;
    height: auto;
    text-align: center;
    margin: 3%;
}
  
.crs-select-stack {
    padding: 2%;
    overflow-x: auto;
}

.crs-select-name-stack {
    padding: 2%;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
}

.crs-select-name {
    width: 300px;
}

.main-button {
    width: 200px;
    height: 75px;
}

  