.crs-select-card {
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    margin: 3%;
}
  
.crs-select-stack {
margin: 3%;
}

.main-button {
    width: 200px;
    height: 75px;
}

  